<div style="padding-top: 10%;">
    <div class="input-group mb-3" style="width: 90%; margin-left: 12%;">
        <input type="text" class="form-control" placeholder="Ime" aria-label="Name" aria-describedby="basic-addon2"
            style="margin-right: 3%;margin-left: 1%; width: 15%;">
        <select class="form-select" aria-label="Default select example" style="width: 5%; margin-right: 5%;">
            <option selected value="0">AND</option>
            <option value="1">OR</option>
        </select>
        <input type="text" class="form-control" placeholder="Prezime" aria-label="Last name"
            aria-describedby="basic-addon2" style="margin-right: 3%;width: 15%;">
        <select class="form-select" aria-label="Default select example" style="width: 5%; margin-right: 5%;">
            <option selected value="0">AND</option>
            <option value="1">OR</option>
        </select>
        <input type="text" class="form-control" placeholder="Education" aria-label="Education"
            aria-describedby="basic-addon2" style="width: 15%; margin-right: 21%;">
        
        <select class="form-select" aria-label="Default select example" style="width: 2%; margin-right: 5%; margin-top: 3%;">
            <option selected value="0">AND</option>
            <option value="1">OR</option>
        </select>
        <input type="text" class="form-control" placeholder="Cv" aria-label="Cv" aria-describedby="basic-addon2"
            style="margin-right: 3%;width: 20%; margin-top: 3%;">
        <select class="form-select" aria-label="Default select example" style="width: 2%; margin-right: 5%; margin-top: 3%;">
            <option selected value="0">AND</option>
            <option value="1">OR</option>
        </select>
        <input type="text" class="form-control" placeholder="Cover letter" aria-label="Cover letter"
            aria-describedby="basic-addon2" style="margin-right: 20%;width: 20%; margin-top: 3%;">

    </div>


</div>