<div style="padding-top: 10%;">
    <div class="input-group mb-3" style="width: 60%; margin-left: 18%;">
        <select class="form-select" aria-label="Default select example" style="width: 10%; margin-right: 5%;">
            <option selected>Sadrzaj CV-ja</option>
            <option value="1">Sadrzaj propratnog pisma</option>
            <option value="2">Ime i prezime</option>
            <option value="4">Adresa</option>
            <option value="5">Obrazovanje</option>
        </select>
        <input type="text" class="form-control" placeholder="Pretrazite aplikante" aria-label="Recipient's username"
            style="width: 60%;" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</div>